<h2 mat-dialog-title>Create Inventory</h2>
<mat-dialog-content class="mat-typography"> 
    <form [formGroup]="newInventoryFormGroup" (ngSubmit)="createInventory();">
        <p>
            <mat-form-field appearance="outline" style="padding-right: 20%;">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Your Name" formControlName="name" required>
                <mat-error *ngIf="((newInventoryFormGroup.controls.name.value == '' && newInventoryFormGroup.controls.name.dirty) && newInventoryFormGroup.controls.name.invalid) || (isFormSubmitted && newInventoryFormGroup.controls.name.errors?.required)" >{{ 'Name is required!' }}</mat-error>
            </mat-form-field>

            &nbsp;&nbsp;

            <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput placeholder="Price" formControlName="price">
            </mat-form-field> 
        </p>

        <p>
            <mat-form-field appearance="outline" style="width: 50%;">
                <mat-label>Description</mat-label>
                <textarea matInput rows="5" formControlName="description"></textarea>
            </mat-form-field>
        </p>
 
        <button type="submit" class="btn btn-lg btn-success">Save</button>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <div class="row">
        <button class="btn" mat-button [mat-dialog-close]="true">Cancel</button>
    </div>    
</mat-dialog-actions>